.shramee-plugin {
	border-color: #eee;
}

.shramee-plugin-rating {
	width: 100px;
	height: 100px;
	padding: 20px;;
	position: relative;
	display:flex;
	line-height: 1;
	justify-content: center;
	flex-direction: column;
	font-size: 1rem;
	text-align: center;
}

.shramee-plugin small {
	display: block;
	font-size: .88rem;
	line-height: 1;
}

.shramee-plugin-rating svg {
	position: absolute;
	top: 0;
	left: 0;
}

.shramee-plugin-rating .plugin-rating-count {
	font-size: 1em;
}

.shramee-plugin-rating .plugin-rating-percentage {
	font-size: 1.4em;
	margin-bottom: .25em;
}

.shramee-plugin .serial_number {
	font-size: 2em;
	min-width: 1.6em;
	text-align: center;
}

.shramee-plugin-downloads {
	font-size: 1.6em;
	text-align:  center;
	width: 5.2rem;
}

.shramee-plugin-stats-credits {
	font: 16px Helvetica,sans-serif;
	text-align: center;
	opacity: .7;
}